* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0 auto;
}

.spheres {
    height: 50%;
}

.spheres > div {
    height: 20%;
}

.ocean {
    height: 50%;
    background-color: dodgerblue;
}

.spheres .exo {
    background-color: hsl(209, 100%, 83%);
}

.spheres .thermo {
    background-color: hsl(209, 100%, 86%);
}

.spheres .meso {
    background-color: hsl(209, 100%, 89%);
}

.spheres .strato {
    background-color: hsl(209, 100%, 92%);
}

.spheres .tropo {
    background-color: hsl(209, 100%, 95%);
}

.submarine > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: hsl(209deg 85% 30% / 75%);
    font-size: 14em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    text-align: center;
}

.submarine h1 > #periscope {
    position: relative;
    top: -0.4em;
}